body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.auth-hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url('../JPG/Background.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-box {
    background: white;
    width: 360px;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.logo {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.highlight-x {
    font-size: 38px;
    color: #00d2ff;
}

.auth-box h2 {
    margin-bottom: 20px;
}

.auth-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
}

.auth-box button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.auth-box button:hover {
    background: #0056d2;
}

.switch {
    margin-top: 15px;
    font-size: 14px;
}

.switch a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
